<link rel="stylesheet" href="/css/styles.css">
<footer>
    <header>
        
        <nav class="footer">
            <a href="/quienes">QUIENES SOMOS</a>
            <a href="/quienes">CONTACTANOS</a>
            <a href="/quienes">DONDE ESTAMOS Y EN QUE HORARIOS</a>
            
        </nav>
    
    </header>
</footer>