<link rel="stylesheet" href="/css/styles.css">
<footer>
    <header>
        
        <nav class="footer">
            <a href="/who">OUR TEAM AND PARTNERS</a>
            <a href="/who">CONTACT</a>
            <a href="/who">WHERE ARE WE</a>
            
        </nav>
    
    </header>
</footer>