<header>
    <nav class="navbar">
        <a href="index">Home</a>
        <a href="account">Mi Cuenta</a>
        <div class="dropdown">
          <button class="dropbtn">Productos
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="armasCortas">Armas Cortas</a>
            <a href="armasLargas">Armas Largas</a>
            <a href="camping">Camping-Outdoor</a>
          </div>
        </div>
    </nav>
</header>