<header>
    <nav class="navbar">
        <a href="/">HOME</a>
        <% if (locals.isLogged) { %>

          <a href="/profile">MI CUENTA</a>
          <a href="/logout">LOGOUT</a>
        
        <% } else { %>
          <a href="/create">CREATE ACCOUNT</a>
          <a href="/login">LOGUEARSE</a>
        
        <% } %>

        <div class="dropdown">
          <button onclick='location.href="/products"' class="dropbtn">SERVICES
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/products/solutions">SOLUTIONS</a>
            <a href="/products/ecosust">SUSTENTABILITY</a>
            <a href="/products/outdoor">OUTDOOR</a>
            <a href="/products/organic">ORGANIC</a>
            <a href="/products/cert">CERTIFICATIONS</a>
            <a href="/products">ALL</a>    
            </div>
        </div>
        

    </nav>
</header>