<header>
    <nav class="navbar">
        <a href="/">HOME</a>
        <a href="/account">MI CUENTA</a>
        <div class="dropdown">
          <button onclick='location.href="/products/productList"' class="dropbtn">PRODUCTOS
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/products/armasCortas">ARMAS CORTAS</a>
            <a href="/products/armasLargas">ARMAS LARGAS</a>
            <a href="/products/camping">CAMPING-OUTDOOR</a>
            <a href="/products/municiones">MUNICIONES</a>
            <a href="/products/tramites">TRAMITES</a>
            <a href="/products/productList">TODOS</a>
            
            
            


          </div>
        </div>
    </nav>
</header>