<%- include('./partials/head')%>
<body>
<%- include('./partials/header')%>


    <H1>CERTIFICATIONS</H1>

    <body>
        <div class="certifications">
          <p>
            Our company is dedicated to environmental stewardship and responsible product management. We hold certifications from various organizations that recognize our commitment to sustainability and eco-friendly practices.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat euismod mi, ut commodo velit sodales sed. Maecenas auctor magna nec nibh maximus varius. Suspendisse potenti. Morbi in arcu sapien. Etiam vestibulum vel metus a commodo. Quisque commodo ullamcorper lorem, vitae facilisis justo ultricies nec. Aenean vel libero pharetra, tempor magna id, bibendum mauris. Duis quis venenatis tortor. Nunc quis libero in nisi maximus convallis. Nulla eu libero lectus. Nullam rhoncus tristique nulla ac fringilla. Fusce vel est mi. Pellentesque convallis velit quis elit imperdiet, eget suscipit ipsum rutrum.
          </p>
        </div>
        <div class="logos">
          <div class="logo">
            <img src="/images/certification1.png" alt="Certification 1">
          </div>
          <div class="logo">
            <img src="/images/certification2.png" alt="Certification 2">
          </div>
          <div class="logo">
            <img src="/images/certification3.png" alt="Certification 3">
          </div>
        </div>
      </body>
    </html>
    <%- include('./partials/footer')%>
</body>
