<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Armeria Bunge</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#news">Mi Cuenta</a>
            <div class="dropdown">
              <button class="dropbtn">Productos
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="#">Armas Cortas</a>
                <a href="#">Armas Largas</a>
                <a href="#">Camping-Outdoor</a>
              </div>
            </div>
        </nav>
    </header>
</body>
</html>