<body>
    <%- include('./partials/header')%>
    <% if (typeof errors !== 'undefined') { %>

    <p style="color:red">ERROR</p>
    <ul>
        <% for( let index=0; index < errors.length; index++ ) { %>
        <li>
            <%=errors[index].msg %>
        </li>
        <% } %>
    </ul>
    <% } %>
    <H1>LOGIN</H1>
    <form action="/login" method="POST">
        <label for="">EMAIL</label>
        <input type="email" name="email">
        <label for="">password</label>
        <input type="password" name="password">
        <input type="submit" value="login">
        <label>
  <input type="checkbox" name="remember-me">
  Remember me
</label>
    </form>
    <%- include('./partials/footer')%>
</body>
