<%- include('./partials/head')%>
<body>
<%- include('./partials/header')%>


    <H1>QUIENES SOMOS</H1>
    <H1>donde estamos</H1>
    <H1>que otra cosa</H1>

    <%- include('./partials/footer')%>
</body>
