<%- include('./partials/head')%>
<%- include('./partials/header')%>

<body>
    
    <div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Formulario de creación de Usuario</h2>
			</div>
		</div>
		<div class="col-12">
			<form action="/" method="POST" enctype="multipart/form-data">
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="image" class="form-label">Imagen</label>
						<input type="file" accept="image/*" id="image" name="image" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="fullname" class="form-label">Nombre real:</label>
						<input type="text" id="fullname" name="fullname" placeholder="Fullname" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="username" class="form-label">Nombre de usuario:</label>
						<input type="text" id="username" name="username" placeholder="Username" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="mail" class="form-label">em@il:</label>
						<input type="mail" id="mail" name="mail" placeholder=your@email.com class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="sex" class="form-label">usertype</label>
						<select name="sex" id="sex" class="form-input">
							<option value="">Elegí</option>
							<option value="male">male</option>
							<option value="woman">woman</option>
							<option value="other">other</option>
						</select>
					</div>
					<div class="col-12">
						<label for="description" class="form-label">algo sobre ti? about you?</label>
						<textarea name="description" id="description" class="form-input"></textarea>
					</div>
					<div class="col-12">
						<button type="submit" class="buy-now-button">Guardar usuario!</button>
					</div>
				</div>
			</form>
		</div>

	</div>
</form>
<%- include('./partials/footer')%>
</body>

