<%- include('./partials/head')%>
<body>
<%- include('./partials/header')%>

<div class="containerWho">
    <div class="row">
        <div class="col-md-10 mx-auto" style="padding-top: 50px;">Welcome to ecoMarket.  We are excited to tell you more about our app and our mission to combine technology and environmental sustainability.

            Our app was created with a simple goal: to help individuals make sustainable choices in their daily lives. We believe that small actions can lead to big change, and we want to make it easy for everyone to be a part of this movement towards a more sustainable future.
            
            At our core, we are a team of passionate individuals who care deeply about the environment and the impact that technology can have on it. We are constantly exploring new ways to integrate cutting-edge technology into our app to make it even more user-friendly and effective.
            
            We know that making sustainable choices can be overwhelming at times, which is why we have designed our app to be simple and intuitive. Our goal is to empower our users with the knowledge and tools they need to make a positive impact on the environment.
            
            We believe that technology has the power to create positive change in the world, and we are committed to using our app as a force for good. By harnessing the power of technology and combining it with a passion for the environment, we can create a better future for ourselves and for generations to come.
            
            Thank you for taking the time to learn more about us. We hope that you will join us on this journey towards a more sustainable future!</h3>
        </div>
    </div>

    <div class="container text-center pb-5">
        <div class="row">
          <div class="col-md-4">
            <h4>Address</h4>
            <p>123 Company St</p>
            <p>12345 Berlin</p>
            <p>Germany</p>
          </div>
          <div class="col-md-4">
            <h4>Phone</h4>
            <p>+49 123456789</p>
          </div>
          <div class="col-md-4">
            <h4>Email</h4>
            <p>info@company.com</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-5">
            <h4>Location</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d242852.27261404403!2d13.193794207672897!3d52.52426877316061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e373e4cfd31%3A0x4e4a7b4f31c92c7e!2sBerlin%2C%20Germany!5e0!3m2!1sen!2sus!4v1651484767846!5m2!1sen!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
        </div>
        <div class="row">
            <div class="col-md-10 mx-auto pb-5">
              
                Disclaimer: The information presented on this page is for educational purposes only. It is not intended as professional advice and should not be considered as such. We make no representation or warranty of any kind, express or implied, regarding the accuracy, adequacy, validity, reliability, availability or completeness of any information presented. We are not liable for any errors, omissions, or delays in this information or any losses, injuries, or damages arising from its use. Any reliance you place on this information is strictly at your own risk.
              
            </div>
          </div>
        </div>

      </div>
      
      

    <%- include('./partials/footer')%>
</body>
