<%- include('./partials/head')%>
<body>
<%- include('./partials/header')%>

<p>
    <h3>"At [MercadoSustentable], we are committed to sustainability and the preservation of the environment. We source all of our products from eco-friendly and ethical suppliers, and we hold ourselves to the highest standards of environmental compliance. Our company is certified by [relevant environmental certification bodies] for our commitment to reducing our carbon footprint and minimizing waste. As a team, we are dedicated to doing our part to create a better and more sustainable future for all."</h3>
</p>

    <%- include('./partials/footer')%>
</body>
